@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll;
	scrollbar-gutter: stable;
}

.dob-input::-webkit-calendar-picker-indicator {
	filter: invert(1);
	opacity: 1;
	cursor: pointer;
}
